{% extends "layout.html" %}

{% block title %}
<title>{{ magazine.title }}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/magazine.css')}}"/>
{% endblock %}

{% block main %}
<div class="posts">
  {% for post in magazine.posts %}
  {% set origin_url = 'http://simplecms.xiachufang.com/posts/' + (post.post_id|string) %}
  {% set url = post.post_content if post.post_category in ('recipe', 'recipe_list', 'event') else origin_url %}
  <div class="post">
    <div class="category">
      <img src="{{ post.category_icon }}" class="category-icon">
      <div class="category-name">{{ post.category }}</div>
    </div>

    <a class="cover"
      href="{{ url }}"
      data-origin-url="{{ origin_url }}"
    >
      <div class="cover-filter"></div>
      <img src="{{ post.cover }}" />
    </a>

    <h2 class="title">
      <a
        href="{{ url }}"
        data-origin-url="{{ origin_url }}"
      >
        {{ post.title }}
      </a>
    </h2>

    <div class="desc">{{ post.desc }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/magazines.js')}}?20150908"></script>
{% endblock %}
