<md-card class="magazine">

  <div layout="row" layout-align="center center" ng-if="!magazine" class="loading">
    <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
  </div>

  <div ng-if="magazine">
    <div class="magazine-title md-display-1">
      <a href="/magazines/{{magazine.id}}" target="_blank">{{magazine.title}}</a>
    </div>

    <md-list class="magazine-posts">

      <md-list-item class="magazine-post-add">
        <a class="post-entry" ng-click="addPost()">
          向杂志中添加一篇新文章……
        </a>
        <md-divider></md-divider>
      </md-list-item>

      <md-list-item class="magazine-post" ng-repeat="post in magazine.posts" class="md-3-line">
        <a class="post-entry"
          ng-class="post.opened ? 'md-default-theme' : ''"
          ng-click="(post.opened ? closePost : editPost)(post)">
          <h3>
            {{ post.title || '请填写标题' }}
            <small style="float:right">{{ '阅读： ' + (post.post_visits || 0) }}</small>
            <small style="float:right; margin: 0 10px 0 0;">{{ categoryDict[post.post_category] }}</small>
          </h3>
        </a>
        <div class="post-form" ng-if="post.opened">
          <md-input-container ng-if="!post.id">
            <label>选择文章</label>
            <md-select aria-label="文章"
              ng-model="post.post_id"
              ng-change="syncPostTitle(post)"
              >
              <md-option
                ng-repeat="postToSelect in allPosts"
                value="{{postToSelect.id}}"
              >
                {{postToSelect.title}}
                <small style="margin: 0 0 0 20px; font-size: 12px;">[{{categoryDict[postToSelect.category]}}]</small>
              </md-option>
            </md-select>
          </md-input-container>

          <md-content class="md-default-theme" style="margin: 0 0 10px 0; background: #F7F7F7;" ng-if="post.id">
            <label>已选择文章：</label>
            <a href="/posts/{{post.post_id}}" style="color: #106cc8;" target="_blank">
              {{post.title}}
            </a>
            <small style="margin: 0 0 0 20px; font-size: 12px;">[{{categoryDict[post.post_category]}}]</small>
          </md-content>

          <md-input-container>
            <label>杂志中的标题</label>
            <input type="text" ng-model="post.title"/>
          </md-input-container>

          <md-input-container>
            <label>杂志中的封面图</label>
            <input type="text" ng-model="post.cover"/>
          </md-input-container>

          <md-input-container>
            <label>杂志中的描述</label>
            <textarea ng-model="post.desc"></textarea>
          </md-input-container>

          <md-input-container>
            <label>杂志中的分类</label>
            <input type="text" ng-model="post.category"/>
          </md-input-container>

          <md-input-container>
            <label>杂志中的分类图标</label>
            <input type="text" ng-model="post.category_icon"/>
          </md-input-container>

          <md-button type="button" class="md-raised md-primary save"
            ng-click="publishPost(post)">发布到杂志</md-button>

          <md-button type="button" class="md-raised md-warn"
            ng-if="post.id"
            ng-click="delPost(post)">从杂志中删除</md-button>
          <md-button type="button" class="md-warn"
            ng-if="!post.id"
            ng-click="delPost(post)">先不发布了</md-button>

        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
</md-card>
