<md-card class="magazine">

  <div layout="row" layout-align="center center" ng-if="!magazine" class="loading">
    <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
  </div>

  <div ng-if="magazine">
    <div class="magazine-title md-display-1">
      <a href="/magazine" target="_blank">{{magazine.title}}</a>
    </div>

    <md-list class="magazine-posts">

      <md-list-item class="magazine-post-add">
        <a class="post-entry" ng-click="addPost()">
          添加一篇新文章……
        </a>
        <md-divider></md-divider>
      </md-list-item>

      <md-list-item class="magazine-post" ng-repeat="post in magazine.posts" class="md-3-line">
        <a class="post-entry" ng-click="editPost(post)" ng-if="!post.opened">
          <h3>{{post.title || '暂无标题'}}</h3>
        </a>
        <a class="post-entry md-default-theme" ng-if="post.opened"
          ng-click="closePost(post)">
          <h3>{{post.title || '暂无标题'}}</h3>
        </a>
        <div class="post-form" ng-if="post.opened">
          <md-input-container>
            <label>文章标题</label>
            <input type="text" ng-model="post.title"/>
          </md-input-container>
          <md-input-container>
            <label>文章封面图</label>
            <input type="text" ng-model="post.cover"/>
          </md-input-container>
          <md-input-container>
            <label>文章链接</label>
            <input type="text" ng-model="post.url"/>
          </md-input-container>
          <md-input-container>
            <label>文章描述</label>
            <textarea ng-model="post.desc"></textarea>
          </md-input-container>
          <md-input-container>
            <label>文章分类</label>
            <input type="text" ng-model="post.category"/>
          </md-input-container>
          <md-input-container>
            <label>文章分类图标</label>
            <input type="text" ng-model="post.categoryIcon"/>
          </md-input-container>
          <md-button type="button" class="md-raised"
            ng-click="closePost(post)">收起</md-button>
          <md-button type="button" class="md-raised md-warn"
            ng-click="delPost(post)">删除</md-button>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>

    <md-button type="button" class="md-raised md-primary save"
      ng-click="save()">
      保存
    </md-button>
  </div>
</md-card>
