<a target="_blank" ng-if="!isCreatingNew" ng-href="/posts/{{postId}}">
  <md-button class="md-fab post-view">
    <div class="md-headline">►</div>
  </md-button></a>
<md-card>
  <div layout="row" layout-align="center center" ng-if="!post" class="loading">
    <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
  </div>
  <form method="post" autocomplete="off" ng-submit="submit()" ng-if="post" class="post-form">
    <md-input-container flex="flex">
      <label>文章标题</label>
      <input type="text" ng-model="post.title"/>
    </md-input-container>
    <md-input-container flex="flex">
      <label>文章署名</label>
      <input type="text" ng-model="post.author"/>
    </md-input-container>
    <md-input-container flex="flex" class="post-content" ng-if="!post.editSrc">
      <textarea class="ueditor" type="text" aria-label="文章内容" ng-model="post.content" config="config"></textarea>
    </md-input-container>
    <md-input-container flex ng-if="post.editSrc">
      <textarea class="post-src" aria-label="文章内容" ng-model="post.content" style="height: 400px; font-family: monospace;"></textarea>
    </md-input-container>
    <md-switch ng-model="post.editSrc" aria-label="直接编辑源码"> 直接编辑源码（慎用！）</md-switch>
    <md-button aria-label="保存" ng-bind="loading ? '保存中……' : '保存'" class="md-raised md-primary"></md-button>
    <md-button type="button" aria-label="删除" ng-if="!isCreatingNew" ng-click="delPost()" class="md-raised md-warn">删除</md-button>
  </form>
</md-card>
